################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/NumberDeclension/NumberDeclension.Application/obj
/.vs
/NumberDeclension/.vs/NumberDeclension.slnx
